.theme-dark {
    /*Darker Color for 2*/
    --f-frst: #81a1c1;
    --l: #E67C73;
    --l1: #ffb0a9;
    --y: #F6BF26;
    --bl: #039BE5;
    --f-r: #bf616a;
    --rr: #AD1457;
    --f-f: #434853;
    --gg: #7CB342;
}

.theme-light {
    /*Darker Color for 1*/
    --f-frst: #4386c9;
    --l: #ce7169;
    --l1: #fc8a80;
    --y: #ffc72d;
    --bl: #039BE5;
    --f-r: #bf616a;
    --rr: #AD1457;
    --f-f: #434853;
    --gg: #7CB342;
}

.nav-folder-title{
    color: var(--b);
}

.nav-file-title{
    color: var(--b);
}

/**/
/* .nav-folder-title[data-path="1 Journal"] {
    color: var(--b);
    background: var(--f-frst) !important;
    border-bottom: 2px solid var(--f-frst);
} */
.nav-folder-title[data-path*="1 Journal"],
.nav-folder-title[data-path*="1 Journal"] + .nav-folder-children,
.nav-file-title[data-path*="1 Journal"] {
    color: var(--f-frst);
    border-left: 3px solid var(--f-frst);
    margin-left: 8px;
}
.nav-folder-title[data-path*="1 Journal"]:hover,
.nav-folder-title[data-path*="1 Journal"] + .nav-folder-children:hover,
.nav-file-title[data-path*="1 Journal"]:hover {
    border-color: var(--f-frst);
}

/**/
/* .nav-folder-title[data-path="2 Life"] {
    color: var(--b);
    background: var(--l1) !important;
    border-bottom: 2px solid var(--l1);
} */
.nav-folder-title[data-path*="2 Life"],
.nav-folder-title[data-path*="2 Life"] + .nav-folder-children,
.nav-file-title[data-path*="2 Life"] {
    color: var(--l1);
    border-left: 3px solid var(--l1);
    margin-left: 8px;
}
.nav-folder-title[data-path*="2 Life"]:hover,
.nav-folder-title[data-path*="2 Life"] + .nav-folder-children:hover,
.nav-file-title[data-path*="2 Life"]:hover {
    border-color: var(--l1);
}

/**/
/* .nav-folder-title[data-path="3 Listy"] {
    color: var(--b);
    background: var(--l) !important;
    border-bottom: 2px solid var(--l);
} */
.nav-folder-title[data-path*="3 Listy"],
.nav-folder-title[data-path*="3 Listy"] + .nav-folder-children,
.nav-file-title[data-path*="3 Listy"] {
    border-left: 3px solid var(--l);
    margin-left: 8px;
}
.nav-folder-title[data-path*="3 Listy"]:hover,
.nav-folder-title[data-path*="3 Listy"] + .nav-folder-children:hover,
.nav-file-title[data-path*="3 Listy"]:hover {
    border-color: var(--l);
}

/**/
/* .nav-folder-title[data-path="4 Rozwój"] {
    color: var(--b);
    background: var(--l1) !important;
    border-bottom: 2px solid var(--l1);
} */
.nav-folder-title[data-path*="4 Rozwój"],
.nav-folder-title[data-path*="4 Rozwój"] + .nav-folder-children,
.nav-file-title[data-path*="4 Rozwój"] {
    border-left: 3px solid var(--l1);
    margin-left: 8px;
}
.nav-folder-title[data-path*="4 Rozwój"]:hover,
.nav-folder-title[data-path*="4 Rozwój"] + .nav-folder-children:hover,
.nav-file-title[data-path*="4 Rozwój"]:hover {
    border-color: var(--l1);
}

/**/
/* .nav-folder-title[data-path="4 Finanse"] {
    color: var(--b);
    background: var(--y) !important;
    border-bottom: 2px solid var(--y);
} */
.nav-folder-title[data-path*="4 Finanse"],
.nav-folder-title[data-path*="4 Finanse"] + .nav-folder-children,
.nav-file-title[data-path*="4 Finanse"] {
    color: var(--y);
    border-left: 3px solid var(--y);
    margin-left: 8px;
}
.nav-folder-title[data-path*="4 Finanse"]:hover,
.nav-folder-title[data-path*="4 Finanse"] + .nav-folder-children:hover,
.nav-file-title[data-path*="4 Finanse"]:hover {
    border-color: var(--y);
}

/**/
.nav-folder-title[data-path="5 Wycieczki"] {
    color: var(--b);
    background: var(--bl) !important;
    border-bottom: 2px solid var(--bl);
}
.nav-folder-title[data-path*="5 Wycieczki"],
.nav-folder-title[data-path*="5 Wycieczki"] + .nav-folder-children,
.nav-file-title[data-path*="5 Wycieczki"] {
    border-left: 3px solid var(--bl);
    margin-left: 8px;
}
.nav-folder-title[data-path*="5 Wycieczki"]:hover,
.nav-folder-title[data-path*="5 Wycieczki"] + .nav-folder-children:hover,
.nav-file-title[data-path*="5 Wycieczki"]:hover {
    border-color: var(--bl);
}

/**/
.nav-folder-title[data-path="6 Work"] {
    color: var(--b);
    background: var(--l1) !important;
    border-bottom: 2px solid var(--l1);
}
.nav-folder-title[data-path*="6 Work"],
.nav-folder-title[data-path*="6 Work"] + .nav-folder-children,
.nav-file-title[data-path*="6 Work"] {
    border-left: 3px solid var(--l1);
    margin-left: 8px;
}
.nav-folder-title[data-path*="6 Work"]:hover,
.nav-folder-title[data-path*="6 Work"] + .nav-folder-children:hover,
.nav-file-title[data-path*="6 Work"]:hover {
    border-color: var(--l1);
}

/**/
/* .nav-folder-title[data-path="Skrypty i Templates"] {
    color: var(--w);
    background: var(--f-frst) !important;
    border-bottom: 2px solid var(--f-frst);
} */
.nav-folder-title[data-path*="Skrypty i Templates"],
.nav-folder-title[data-path*="Skrypty i Templates"] + .nav-folder-children,
.nav-file-title[data-path*="Skrypty i Templates"] {
    color: var(--f-frst);
    border-left: 3px solid var(--f-frst);
    margin-left: 8px;
}
.nav-folder-title[data-path*="Skrypty i Templates"]:hover,
.nav-folder-title[data-path*="Skrypty i Templates"] + .nav-folder-children:hover,
.nav-file-title[data-path*="Skrypty i Templates"]:hover {
    border-color: var(--f-frst);
}